.wrapper {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: var(--transition-default);
    .info {
        width: calc(100% - 6rem);
        margin-left: 1rem;
    }
    .info.small .sub-text {
        margin-top: 2px;
    }
    .text {
        color: var(--text-color);
        font-weight: 600;
        font-size: 1.6rem;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }
    .sub-text {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--sub-text-color);
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        width: 90%;
        margin-top: 5px;
        transition: var(--transition-default);
    }
    &.active {
        opacity: 1;
        background-color: var(--background-color-2);
    }
    &:hover {
        background-color: var(--background-color-2);
    }
}
.wrapper.isMessage {
    .sub-text {
        color: var(--text-color);
    }
}
.wrapper.isMessage.isSeen {
    .sub-text {
        color: var(--sub-text-color);
    }
}
