.title {
    user-select: none;
    display: block;
    margin-bottom: 1rem;
    color: var(--text-color);
    font-weight: 600;
}
.wrapper {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 3px 1.2rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: var(--transition-default);
}
.wrapper.isFocusable {
    border-color: var(--sub-text-color);
    .inner {
        color: var(--sub-text-color);
    }
    &:focus-within {
        border-color: var(--text-color);
        .inner {
            color: var(--text-color);
        }
        .icon {
            color: var(--text-color);
        }
    }
}
.inner {
    color: var(--text-color);
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    padding: 7px 0;
    transition: var(--transition-default);
}
.icon {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--sub-text-color);
    transition: var(--transition-default);
}
.icon + .icon,
.icon + .inner,
.inner + .icon {
    margin-left: 1rem;
}
.warning {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 7px 0;
    color: var(--primary-color);
}
