@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #e23e57;
    --text-color: #130c18;
    --sub-text-color: #63636d;
    --background-color: #ffffff;
    --background-color-2: #88304d18;
    --disabled-color: #cc98a0;
    --overlay-color: rgba(255, 255, 255, 0.63);

    --sidebar-width: 6rem;
    --small-avatar-size: 3rem;
    --tiny-avatar-size: 1.5rem;
    --medium-avatar-size: 4.5rem;
    --large-avatar-size: 7rem;
    --giant-avatar-size: 12rem;

    --transition-default: all ease 0.2s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    overflow-y: overlay;
}
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.app.dark {
    --text-color: #fff;
    --background-color: #130c18;
    --background-color-2: #ffffff18;
    --disabled-color: #e23e5750;
    --overlay-color: #130c18d8;

    color: var(--text-color);
    background-color: var(--background-color);
    caret-color: var(--text-color);
    transition: var(--transition-default);
}

textarea,
input,
button {
    font-family: 'Exo 2', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
.container {
    display: flex;
    margin-left: var(--sidebar-width);
    height: 100vh;
}

// Scrollbar Styles
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 5px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 5px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--background-color-2);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--background-color-2);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
