.wrapper {
    flex: 1;
}
.members {
    margin-bottom: 1rem;
    .list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: var(--background-color-2);
        padding: 7px 7px 1px 7px;
        border-radius: 5px;
    }
}
.title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text-color);
    user-select: none;
}

.toggles {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    .toggle-btn {
        margin-left: 5px;
    }
}

.search-results {
    width: 57rem;
}

.group-image {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.change-btn {
    margin-bottom: 1.5rem;
}
.image-input {
    display: none;
}
.preview-image {
    border-radius: 5px;
    margin: 0 10rem;
    background-color: var(--text-color);
}
.no-data {
    border: 1px solid var(--text-color);
}
.change-btn:hover ~ .preview-image {
    opacity: 1;
}

.info-input {
    margin-bottom: 1rem;
}
