.wrapper {
    overflow: auto;
    overflow-y: overlay;
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
    min-height: 100vh;
    background-color: var(--background-color-2);
}

@media screen and (max-width: 1023px) {
    .wrapper {
        padding: 0 5px;
    }
}
