.wrapper {
    margin-bottom: 2rem;
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        font-size: 1.7rem;
        font-weight: 500;
        user-select: none;
    }
    .loading-content {
        height: 4rem;
        border-radius: 5px;
        background-color: var(--background-color-2);
    }
    .content {
        word-wrap: break-word;
        padding: 1rem;
        font-size: 1.6rem;
        line-height: 2rem;
        min-height: 4rem;
        border-radius: 5px;
        background-color: var(--background-color-2);
    }
    input {
        outline: none;
        padding: 1rem;
        font-size: 1.6rem;
        line-height: 2rem;
        max-width: 100%;
        min-width: 100%;
        border: none;
        border-radius: 5px;
        color: var(--text-color);
        background-color: var(--background-color-2);
    }
}
