.wrapper {
    flex: 1;
    display: flex;
    padding: 2rem 5rem;
    background-color: var(--background-color);
}
.wrapper.small {
    flex-direction: column;
    .left-items,
    .right-items {
        width: 100%;
    }
    .mid-items {
        margin: 0;
    }
}
.left-items {
    width: 30%;
}
.mid-items {
    flex: 1;
    margin: 0 2rem;
}
.right-items {
    width: 30%;
}
.info-item {
    margin-bottom: 2rem;
    .title {
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }
    .content {
        word-wrap: break-word;
        font-size: 1.6rem;
        line-height: 2rem;
        border-radius: 5px;
        padding: 1rem;
        background-color: var(--background-color-2);
    }
}
.contact-list {
    overflow: auto;
    overflow-y: overlay;
    max-height: 40rem;
    .item {
        height: 2.5rem;
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
    }
    .brand-logo {
        width: 4rem;
        text-align: center;
        font-size: 2rem;
    }
    .link {
        font-size: 1.6rem;
        padding: 0;
        background-color: transparent;
        color: var(--primary-color);
    }
}
.fallback-info {
    flex: 1;
    color: var(--text-color);
    margin: 0 2rem 2rem 2rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--background-color-2);
}
