.wrapper {
    flex: 1;
}
.wrapper.scroll {
    max-height: 60rem;
    overflow: auto;
    overflow-y: overlay;
    overflow-x: hidden;
}
.header {
    display: flex;
    margin-bottom: 1rem;
}
.search-input {
    flex: 1;
    padding: 3px 1rem;
}

.friend-item {
    display: flex;
    align-items: center;
    width: 100%;
    transition: var(--transition-default);
    padding: 1rem;
    border-radius: 5px;
    .avatar {
        margin-right: 1rem;
    }
    .info {
        width: calc(100% - 7rem);
    }
    .name {
        font-size: 1.6rem;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .status {
        color: var(--sub-text-color);
        font-size: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.friend-item:hover {
    background-color: var(--background-color-2);
    .toggle-btns {
        opacity: 1;
    }
}
