.wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--background-color);
    transition: var(--transition-default);
}
.cover {
    display: none;
    position: fixed;
    top: 0;
    left: 20rem;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    animation: fadeIn ease 0.2s;
}
.logo {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    border-radius: 5px;
    img {
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
    }
    h1 {
        color: var(--primary-color);
        margin-left: 1rem;
    }
}
.item-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.sidebar-item {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    white-space: nowrap;
    color: var(--sub-text-color);
    transition: var(--transition-default);
    &.active {
        opacity: 1;
        color: var(--primary-color);
        background-color: var(--background-color-2);
    }
    &:hover {
        background-color: var(--background-color-2);
    }
}
.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid var(--background-color);
    background-color: var(--primary-color);
    p {
        font-size: 1.1rem;
        display: none;
    }
}
.wrapper.expanded {
    width: 20rem;
    align-items: flex-start;
    .sidebar-item {
        justify-content: flex-start;
    }
    .badge {
        top: 50%;
        transform: translateY(-50%);
        width: 3.5rem;
        height: 2rem;
        border-radius: 999px;
        border-color: transparent;
        p {
            display: inline-block;
        }
    }
    .cover {
        display: block;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
