.wrapper {
    display: flex;
}

.setting-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: auto;
    overflow-y: overlay;
    background-color: var(--background-color-2);
    padding: 2rem 1rem;
}
.setting-area {
    flex: 1;
    overflow: auto;
    overflow-y: overlay;
    padding: 2rem;
    .title {
        margin-bottom: 2rem;
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1023px) {
    .wrapper {
        flex-direction: column;
    }
    .setting-list {
        width: 100%;
        flex-direction: row;
        padding: 1rem;
    }
}
