.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--medium-avatar-size);
    height: var(--medium-avatar-size);
    border-radius: 50%;
    img {
        min-width: 100%;
        min-height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    .change-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        opacity: 0;
        transition: var(--transition-default);
    }
    .change-btn {
        justify-content: center;
        font-size: 2.5rem;
        padding: 5px;
        height: 4rem;
        width: 4rem;
        color: #fff;
        background-color: transparent;
    }
    .change-input {
        display: none;
    }
    .online-circle {
        position: absolute;
        background-color: #71d099;
        border-radius: 50%;
        border: 2px solid #fff;
        width: 1rem;
        height: 1rem;
        bottom: 0.2rem;
        right: 0.2rem;
    }
}

.wrapper:hover .change-overlay {
    opacity: 1;
}

// Sizes
.wrapper.large {
    width: var(--large-avatar-size);
    height: var(--large-avatar-size);
}
.wrapper.giant {
    width: var(--giant-avatar-size);
    height: var(--giant-avatar-size);
}
.wrapper.small {
    width: var(--small-avatar-size);
    height: var(--small-avatar-size);
}

// Styles
.wrapper.square {
    img {
        border-radius: 5px;
    }
}
