.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    img {
        width: var(--medium-avatar-size);
        height: var(--medium-avatar-size);
        border-radius: 50%;
        object-fit: cover;
        background-color: var(--background-color);
    }
    .loading-avatar {
        width: var(--medium-avatar-size);
        height: var(--medium-avatar-size);
        border-radius: 50%;
        background-color: var(--background-color-2);
    }
    .change-btn {
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 0.9;
        bottom: 0;
        right: 0;
        font-size: 1.5rem;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        border: 3px solid var(--background-color);
        color: var(--background-color);
        background-color: var(--text-color);
        &:hover {
            opacity: 1;
        }
    }
    .change-input {
        display: none;
    }
    .online-circle {
        position: absolute;
        background-color: #71d099;
        border-radius: 50%;
        border: 2px solid var(--background-color);
        width: 1.2rem;
        height: 1.2rem;
        bottom: 0.1rem;
        right: 0.1rem;
    }
}

.wrapper:hover .change-overlay {
    opacity: 1;
}

// Sizes
.wrapper.large {
    img,
    .loading-avatar {
        width: var(--large-avatar-size);
        height: var(--large-avatar-size);
    }
}
.wrapper.giant {
    img,
    .loading-avatar {
        width: var(--giant-avatar-size);
        height: var(--giant-avatar-size);
    }
}
.wrapper.small {
    img,
    .loading-avatar {
        width: var(--small-avatar-size);
        height: var(--small-avatar-size);
    }
}
.wrapper.tiny {
    img,
    .loading-avatar {
        width: var(--tiny-avatar-size);
        height: var(--tiny-avatar-size);
    }
}

// Styles
.wrapper.square {
    img,
    .loading-avatar {
        border-radius: 5px;
    }
}

.change-avatar-area {
    .change-input {
        display: none;
    }
    .no-data {
        border: 1px solid var(--text-color);
    }
    .preview-avatar {
        width: 100%;
        background-color: var(--text-color);
        object-fit: cover;
        border-radius: 5px;
    }
    .toggles {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
    .toggle-btn {
        margin-left: 5px;
    }
}
