.wrapper {
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    display: flex;
    align-items: center;
    width: 4rem;
    height: 2rem;
    padding: 5px;
    border-radius: 999px;
    border: 2px solid var(--primary-color);
    transition: var(--transition-default);
    &:hover {
        opacity: 1;
    }
}
.inner {
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: var(--transition-default);
}

.wrapper.isOn {
    background-color: var(--primary-color);
    border-color: transparent;
    .inner {
        transform: translateX(1.8rem);
        background-color: #fff;
    }
}
